@charset "utf-8";
/* CSS Document */

.div_miracle {
	width: 100%;
	height: 1000px;
	overflow: hidden;
}
.div_bg {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.div_content {
	color: white;
	width: 900px;
	margin: 0 auto;
	position: relative;
	bottom: 800px;
}
.div_miracleTittle {
	font-size: 36px;
}
.li_MORE {
	list-style: none;
}
.ul_masterpiece li a:hover {
	text-decoration: underline;
}
.div_end {
	position: relative;
	bottom: 500px;
	width: 100%;
	height: 200px;
	background-color: #F4F4F4;
}
