@charset "utf-8";

/* CSS Document */

@media screen and (min-width:960px) {
#div_musicProducer_bg {
	z-index: -2;
	background-image: url(../images/bg_musicProducer.jpg);
}
}

@media screen and (max-width:960px) {
#div_musicProducer_bg {
	z-index: -2;
	background-image: url(../images/bg_musicProducer.jpg);
}
}
