@charset "utf-8";

/* CSS Document */
#coverAll{
	background:white;
	z-index:5;
	position:fixed;
	width:100%;
	height:100%;
	display:block;
}
#coverAll div {
	margin-top:200px;
	font-size:72px;
}
#div_hamburger {
	width: 100%;
	height: 10%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
	display: block;
	visibility: visible;
}
#div_topBar {
	width: 100%;
	height: 100%;
	background-color: white;
	display:table;
	vertical-align:central;
}
#div_Icon {
	background-image: url(../../images/hamburgerIcon.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	width: 60px;
	height: 100%;
	float: left;
}
#div_hamTittle {
	margin-left:3%;
	display:block;
	font-family: AlexBrush;
	float: left;

}
#menu {
	display:none;
	width:100%;
	left:0px;	
	position:fixed;
	bottom:0px;	
	height:90%;	
}
#menu_content{
	position:fixed;
	transition:left 0.5s ease;
	background-color:white;
	bottom:0px;
	left:-200px;
	width:200px;	
	height:90%;
	z-index:2;
}
#menu_bg {
	position:fixed;
	left:0px;
	bottom:0px;
	background-color:black;
	opacity:0.3;
	width:100%;
	height:90%;
	z-index:1;
	display:none;	
	transition:display 0.5s ease;
}