@charset "utf-8";
/* CSS Document */

#div_TH1 {
	background-image: url(../../images/bg_main.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;
	top: 0px;
	margin-top: 0px;
	height: 1100px;
}
#div_TH2 {
	margin: 0 auto;
	position: relative;
	top: 20%;
	width: 80%;
	height: 80%;
	float: none;
	display: block;
	color: white;
	text-shadow: #ACEBA2;
}
#div_TH2 div {
	display: block;
	background: #F4F4F4;
	opacity: 0.6;
	box-sizing:border-box;
	float: left;
}
#self {
	width: 30%;
	height: 80%;
}
#others {
	margin-left:5%;
	height: 40%;
	width: 65%;
	margin-bottom:5.5%;
}
#listCoding {
	margin-left:5%;
	margin-right:5%;
	width: 30%;
	height: 30%;
}
#listMusic {
	width: 30%;
	height: 30%;
}