@charset "utf-8";
/* CSS Document */

#div_TH1 {
	background-image: url(../../images/bg_main.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	position:relative;
	top:-50px;
}
#div_TH2 {
	margin-right: 300px;
	position: relative;
	top: 500px;
	float: right;
	width: 900px;
	color: white;
	text-shadow: #ACEBA2;
}
#div_TH2 b {
	font-family: AlexBrush;
	font-size: 56px;
	float: right;
}
#div_TH2 p {
	float: right;
	font-size: 48px;
}